<div id="manage_location">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <% characters.each do |c| %>
          <% unless c.locations.nil? %>
              <%= render partial: 'location/partial/character_locations', locals: {character: c} %>
          <% end %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%= form_for :location, url: '/temporary_location/'+room.id.to_s, remote: true,
                   html: {class: 'new_location_form'} do |f| %>

          <%= f.label :meno %><br>
          <%= f.text_field :name %><br>
          <br>

          <%= f.label :popis %><br>
          <%= f.text_area :description %><br>
          <br>

          <%= f.submit 'Pridat', :class => "btn btn-default btn-circle btn-lg" %>

      <% end %>
    </div>
    <button onclick="closeOverlay()">Zavriet</button>
  </div>
</div>

<script>
    function switchLocation(location) {
        $.ajax({
            type: 'POST',
            url: '/switch_location/<%= room.id %>/' + location
        })
    }
</script>