<div id="add_chat">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      You can play:<br>
      <% @room_invited.each do |r| %>
          <%= render partial: 'room/helper/room_button', locals: {room: r.room, can_open: true} %>
      <% end %>
      <br>
      You are invited to spectate:<br>
      <% @room_spectator.each do |r| %>
          <%= render partial: 'room/helper/room_button', locals: {room: r.room, can_open: true} %>
      <% end %>
      <br>
      Public games:<br>
      <% @room_open.each do |r| %>
          <%= render partial: 'room/helper/room_button', locals: {room: r, can_open: true} %>
      <% end %>
      <br>
      You cannot play:<br>
      <% @room_closed.each do |r| %>
          <%= render partial: 'room/helper/room_button', locals: {room: r, can_open: false} %>
      <% end %>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      History:<br>
      <% @history.each do |r| %>
          <%= render partial: 'room/helper/closed_room_button', locals: {room: r} %>
      <% end %>
      <br>
    </div>
    <button onclick="closeOverlay()">Zavriet</button>
  </div>
</div>

<script>
  function openRoom(id) {
      $.ajax({
          type: 'GET',
          url: '<%= miestnosti_list_path %>/'+id
      });
  }
</script>