<div id="new_chat">
  <span class="close_overlay pull-right" onclick="closeOverlay()">x</span>

  <%= form_for :room, url: room_index_path, remote: true do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>

      <%= f.label :is_public %>
      <%= f.check_box :is_open %>
      <br>

      <%= f.submit 'Vytvoriť', class: 'btn_simple' %>

  <% end %>
</div>