<% unless actual_room.nil? %>
    <div id="<%= actual_room.id %>" class="actual_room">
      <h3><%= actual_room.name %></h3>

      Sprava:<br>
      <textarea name="message[body]" id="message_body"></textarea>
      <button id="send">Pošli</button>
      <br>
      <div id="messsages">
        <% actual_room.messages.reverse.each do |f| %>
            <div class="game">
              <br>
              <div style="background-color: #c0c1c7">
                <p style="font-size:small;"><%= f.body %></p>
                <br>
                <%= link_to f.character.name + ' ' + f.character.surname, users_path + '/' + f.character.user.username %>
                <%= image_tag(f.character.profile_image_path, size: '50', title: f.character.full_name, alt: f.character.full_name) %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<script>
    $("#send").click(function () {
        var body = $("#message_body").val();
        var room = $(".actual_room")[0].id;
        var message = {
            body: body,
            user: '',
            room: room
        };

        if (body.trim()) {
            console.log('Sending: ' + body);
            dispatcher.trigger('messages.create', message);
            $("#message_body").val('');
        }
    });
</script>