<%
  actual_room = current_user.active_room
  if actual_room.nil?
    actual_room = @open_rooms.first.nil? ? nil : @open_rooms.first
  end
%>
<div class="row">
  <audio src="<%= asset_path('roblox.mp3') %>"></audio>
  <div id="room_chat" class="col-lg-9 col-md-9 col-sm-12" style="background-color: aquamarine">
    <%= render partial: 'room_chat', locals: {actual_room: actual_room.room} %>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12" id="open_rooms" style="background-color: #B00100">
    <% @open_rooms.each do |oi| %>
        <%= render partial: 'open_room', locals: { room: oi.room, active: actual_room.id == oi.id} %>
    <% end %>
    <button onclick="renderAddChatOverlay()">Add chat</button>
    <button onclick="renderNewChatOverlay()">New game room</button>
  </div>

  <div id="overlay" style="display: none">
    <div id="overlay_content"></div>
  </div>
</div>

<script>
//    var dispatcher = new WebSocketRails('25.81.246.79:3000/websocket');
    var dispatcher = new WebSocketRails('192.168.1.11:3000/websocket');
//    var dispatcher = new WebSocketRails('127.0.0.1:3000/websocket');

    dispatcher.on_open = function (data) {
        $("#onopen").text('connection open');
    };

    dispatcher.bind('messages.create_success', function (message) {
        console.log('msg success');
        var roomid = 'room_tab_' + message.room;
        $('.room_tab').each(function () {
            if($(this).attr('id') == roomid){
                if($(this).find('div.active_room').length > 0){
                    requestMessage(message);
                } else {
                    $(this).addClass('message_notification');
                    if(message.user != <%= current_user.id %>) {
                        $('audio')[0].play();
                        document.title = 'Nova sprava!';
                    }
                }
            }
        });
    });

    dispatcher.bind('messages.create_fail', function (message) {
        console.log('message failed');
    });

    function requestMessage(message) {
        $.ajax({
            type: 'GET',
            url: 'message/'+message.msg_id
        });
    }

    function renderAddChatOverlay() {
        $.ajax({
            type: 'GET',
            url: '<%= miestnosti_list_path %>'
        });
    }

    function renderNewChatOverlay() {
        $('#overlay_content').html("<%= escape_javascript(render partial: 'new_room', locals: { } ) %>");
        $('#overlay').css("display", "block");
    }

    function closeOverlay() {
        $('#overlay').hide();
        $('#overlay_content').html();
    }

    function switchRoom(id) {
        if (id != null) {
            $.ajax({
                type: 'GET',
                url: 'miestnosti/' + id
            });
        }
    }

    function closeRoom(id) {
        $('#room_tab_'+id).remove();
        var tab_element = $('.room_tab');
        if (tab_element.length == 0){
            $('#room_chat').html('');
        }
        $.ajax({
            type: 'POST',
            url: '<%= miestnosti_list_path %>/' + id
        });
    }
</script>