<% actual_room = @open_rooms.first.nil? ? nil : @open_rooms.first.room %>
<div class="row">
  <div id="room_chat" class="col-lg-9 col-md-9 col-sm-12" style="background-color: aquamarine">
    <%= render partial: 'room_chat', locals: {actual_room: actual_room} %>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12" id="open_rooms" style="background-color: #B00100">
    <% @open_rooms.each do |oi| %>
        <%= render partial: 'open_room', locals: { room: oi.room} %>
    <% end %>
    <button onclick="renderAddChatOverlay()">Add chat</button>
    <button onclick="renderNewChatOverlay()">New game room</button>
  </div>

  <div id="overlay" style="display: none">
    <div id="overlay_content"></div>
  </div>
</div>

<script>
//    var dispatcher = new WebSocketRails('25.81.246.79:3000/websocket');
    var dispatcher = new WebSocketRails('192.168.1.7:3000/websocket');
//    var dispatcher = new WebSocketRails('127.0.0.1:3000/websocket');

    dispatcher.on_open = function (data) {
        $("#onopen").text('connection open');
    };

    dispatcher.bind('messages.create_success', function (message) {
        console.log('message success:' + message.body);
        var id = 'message_' + message.id;
        var element = $("<%= escape_javascript(render partial: 'message/message', locals: {message: nil}) %>").attr('id', id);
        $("#messsages").prepend(element);

        $('#'+id +' .msg_body').text(message.body);
        $('#'+id +' .msg_time').text(message.time);

        $('#'+id +' .msg_profile').text(message.user);
        $('#'+id +' .msg_profile').attr('href', 'users/'+message.user);

        $('#'+id +' .msg_picture').attr('title', message.fullname);
        $('#'+id +' .msg_picture').attr('alt', message.fullname);
        $('#'+id +' .msg_picture').attr('src', message.imgpath);

        document.title = 'Nova sprava!';
    });

    dispatcher.bind('messages.create_fail', function (message) {
        console.log('message failed');
    });

    function renderAddChatOverlay() {
        $.ajax({
            type: 'GET',
            url: '<%= miestnosti_list_path %>'
        });
    }

    function renderNewChatOverlay() {
        $('#overlay_content').html("<%= escape_javascript(render partial: 'new_room', locals: { } ) %>");
        $('#overlay').css("display", "block");
    }

    function closeOverlay() {
        $('#overlay').hide();
        $('#overlay_content').html();
    }

    function switchRoom(id) {
        if (id != null) {
            $.ajax({
                type: 'GET',
                url: 'miestnosti/' + id
            });
        }
    }

    function closeRoom(id) {
        $('#room_tab_'+id).remove();
        var tab_element = $('.room_tab');
        if (tab_element.length == 0){
            $('#room_chat').html('');
        } else {
            var room_id = tab_element[0].id.split('_')[2];
            switchRoom(room_id);
        }
        $.ajax({
            type: 'POST',
            url: '<%= miestnosti_list_path %>/' + id
        });
    }
</script>