<h2>Hrac <%= @user.username %></h2>



<div id="profile">
  <% if current_user.id == @user.id %>
      <button onclick="openNewForm()" id="new-button" class="btn btn-default btn-circle btn-lg">Ziadost o novu postavu</button>
  <% end %>
  <h3>Profil:</h3>
  <div id="profile" class="jumbotron">
    <p><%= @user.profile.description %></p>
    <button>Edit</button>
    <button style="display: none;">Save</button>
    <button style="display: none;">Cancel</button>
  </div>
</div>

<div id="characters">

  <h3>Zoznam postav:</h3>
  <% @user.characters.each do |f| %>

      <div class="jumbotron">
        <%= image_tag(f.profile_image_path, size: '80', title: f.full_name, alt: f.full_name)  %>
        <p><%= f.name %> <%= f.surname %> </p>
        Status: <%= f.status %>
        <br><br>
        <%= f.description %>
      </div>

  <% end %>
</div>



<% if current_user.id == @user.id %>
    <div id="new-character" style="display: none;">
      <h4>Ziadost o novu postavu:</h4>
      <%= form_for :character, url: character_path, remote: true, html: {id: 'new-form'} do |f| %>

          <%= f.label :meno %></br>
          <%= f.text_field :name %></br>
          </br>

          <%= f.label :priezvisko %></br>
          <%= f.text_field :surname %></br>
          </br>

          <%= f.label :popis %></br>
          <%= f.text_area :description %></br>
          </br>

          <%= f.submit 'Odoslat', :class => "btn btn-default btn-circle btn-lg" %>

      <% end %>
      <button onclick="closeNewForm()" class="btn btn-default btn-circle btn-lg">Zrusit</button>
    </div>
<% end %>


<script>
    function closeNewForm() {
        $("#new-form")[0].reset();
        $("#new-character").slideUp();
        $("#characters").slideDown();
        $("#profile").slideDown();
    }

    function openNewForm() {
        $("#new-character").slideDown();
        $("#characters").slideUp();
        $("#profile").slideUp();
    }
    openNewForm
</script>