<%= form_for(:user, url: session_path(:user), :html => {:id => 'login', :style => 'display:none'}) do |f| %>
  <div class="background">

    <%= f.label "Kto si?", class: 'form_label' %><br>
    <%= f.email_field :email, autofocus: true, placeholder: 'mail' %><br>

    <%= f.label "Aké je heslo?", class: 'form_label' %><br>
    <%= f.password_field :password, autocomplete: "off", placeholder: '******' %><br>

    <br>
    <%= image_tag('keyhole.png', title: 'Vstúp', class: 'submit', alt: 'Vstúp', width: '10%', height: '10%', onclick: 'submit();') %>

  </div>
<% end %>

<script>
    function submit() {
        document.getElementById("login").submit();
    }
</script>