<!DOCTYPE html>
<html>
<head>
  <title>Erpidgy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<div class="container">
  <div class="hidden-sm hidden-xs">
    <% if user_signed_in? %>


        <%= link_to 'Home', domov_path, :class => "btn btn-default btn-circle btn-lg" %>
        <button type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-eye-open"></i>
        </button>

        Pouzivatel: <%= current_user.username %>

        <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>" class="btn btn-default btn-lg pull-right" role="button">
          Odhlasit </a>

    <% else %>
        <ul class="list-inline pull-right">
          <li><a href="<%= new_user_registration_path %>" class="btn btn-default btn-lg" role="button"> Registracia </a>
          </li>
          <li><a href="<%= new_user_session_path %>" class="btn btn-default btn-lg" role="button"> Prihlasenie </a></li>
        </ul>
    <% end %>
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
  </div>
</div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</body>
</html>
