<!DOCTYPE html>
<html>
<head>
  <title>Erpidgy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  <div class="row hidden-sm hidden-xs" style="max-width:95%; margin: auto;">
    <% if user_signed_in? %>


        <%= link_to 'Home', domov_path, :class => "btn btn-default btn-circle btn-lg" %>
        <button type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-eye-open"></i>
        </button>

        Pouzivatel: <%= current_user.username %>

        <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>" class="btn btn-default btn-lg pull-right" role="button">
          Odhlasit </a>

    <% else %>
        <ul class="list-inline pull-right">
          <li><a href="<%= new_user_registration_path %>" class="btn btn-default btn-lg" role="button"> Registracia </a>
          </li>
          <li><a href="<%= new_user_session_path %>" class="btn btn-default btn-lg" role="button"> Prihlasenie </a></li>
        </ul>
    <% end %>
  </div>

  <div class="row" style="max-width:95%; margin:auto;">

    <div class="col-lg-2 col-md-2 col-sm-2">
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-default btn-circle btn-lg">side menu</button>
      <br>
      <button type="button" class="btn btn-default btn-circle btn-lg">side menu</button>
      <br>
      <button type="button" class="btn btn-default btn-circle btn-lg">side menu</button>
      <br>
      <button type="button" class="btn btn-default btn-circle btn-lg">side menu</button>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </div>

</body>
</html>
