<!DOCTYPE html>
<html>
<head>
  <title>Erpidgy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="row">
  
<% if user_signed_in? %>

      <% current_user.characters.each do |c| %>
          <% if current_user.current_character_id == c.id %>
              <%# TODO changed activeav id to class, change character id from plain id to something to work with %>
              <%= image_tag(c.profile_image_path, title: c.full_name, alt: c.full_name, class: 'character_image current_character', id: c.id) %>
          <% else %>
              <%# TODO do something with other characters %>
              <!--<%= image_tag(c.profile_image_path, title: c.full_name, alt: c.full_name, class: 'character_image', id: c.id) %>-->
          <% end %>
      <% end %>

  <div class="panel col-lg-9 col-md-9 col-sm-12;" align= center>
      <button class="btn_basic btn_menu" onclick="location.href='/domov'">Domov</button>
      <%# TODO get full profile path from user model %>
      <button class="btn_basic btn_menu" onclick="location.href='/users/<%= current_user.username %>'">Profil</button>
      <button class="btn_basic btn_menu" onclick="location.href='/miestnosti'">RPG</button>
      <button class="btn_basic btn_menu" onclick="location.href=''">Mapa</button>
      <button class="btn_basic btn_menu" onclick="location.href=''">Zoznam</button>
      <button class="btn_basic btn_menu" onclick="location.href=''">Svet</button>
      <%# TODO add admin button %>
      <button class="btn_basic btn_menu" onclick="location.href='users/sign_out'">Odhlásenie</button>
  </div>
      <%# TODO fix logout %>
      <!-- <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>" class="btn btn-default btn-lg pull-right" role="button">
        Odhlasit </a> -->
<% end %>

<%= yield %>
  
</div>

<script>
    $(document).ready(function () {
        $(".character_image").click(function () {
            if (!$(this).is($('.current_character'))) {
                var xhttp = new XMLHttpRequest();
                var url = '/character/switch/' + $(this).attr('id');
                $(".current_character").attr({'height': '40', 'width': '40'});
                $(".current_character").removeClass("current_character");
                $(this).addClass("current_character");
                $(this).attr({'height': '60', 'width': '60'});
                xhttp.open('GET', url, true);
                xhttp.send();
            }
        });
    });
</script>

</body>
</html>
